In [22]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import random
from tqdm import tqdm
import time
from IPython.display import clear_output
from IPython.display import display

In [23]:
table = {'00':'green',0:'green ',1:'red',2:'black',3:'red',4:'black',5:'red',6:'black',7:'red',
            8:'black',9:'red',10:'black',11:'black',12:'red',13:'black',14:'red',15:'black',16:'red',
            17:'black',18:'red',19:'red',20:'black',21:'red',22:'black',23:'red',24:'black',25:'red',
            26:'black',27:'red',28:'black',29:'black',30:'red',31:'black',32:'red',33:'black',34:'red',
            35:'black',36:'red'}

In [24]:
payout_df = pd.DataFrame({
    'Payout': [2,2,18,35]
})
payout_df.index = [
    'Red',
    'Black', 
    'Green',
    'Number'
]
payout_df

        Payout
Red          2
Black        2
Green       18
Number      35

In [25]:
def spinning_roulette():
    global number, color
    number = random.choice(list(table))
    color = table.get(number)
    return number, color

In [26]:
number
color

'red'

In [27]:
def test_match():
    output_color = color
    user_color = col
    user_num = num
    output_num = number
    answer = 0
    for n in user_color:
        if n == output_color:
            answer = 1
        else:
            pass
    for z in user_num:
        if z == output_num:
            answer = 2
        else:
            pass
    for y in user_color:
        if y == output_color and output_color == 'Green':
            answer = 3
        else:
            pass
    return answer

In [28]:
def payout():
    global gain
    outcome = test_match()
    gain = 0
    counter = 0
    if outcome == 0:
        gain = 0
    elif outcome == 1:
        for n in new:
            if n == color.lower():
                win = bet_hold[counter]
                gain = win*2
            else:
                counter = counter + 1
    elif outcome == 2:
        for n in new:
            if n == number:
                win = bet_hold[counter]
                gain = win*35
            else:
                counter = counter + 1
    elif outcome == 3:
        for n in new:
            if n == color.lower() and color == 'Green':
                win = bet_hold[counter]
                gain = win*18
            else:
                counter = counter + 1
    return gain

In [29]:
def user_choice(dollar):
    global num, col, new, bet_hold, total_bet
    user_choice = input("Enter your bet with spaces (Ex. 15 20 black): ")
    space_remove = user_choice.split(" ")
    bet_hold = []
    new = []
    num = []
    col = []
    for i in space_remove:
        if i.isdigit():
            integer = int(i)
            new.append(integer)
        else:
            new.append(i)
    for x in new:
        ask = input("Enter your accompanied bet with {}".format(x))
        bet_hold.append(int(ask))
    for z in new:
        if isinstance(z, int) == True:
            num.append(z)
        elif isinstance(z, str) == True:
            col.append(z)
    total_bet = sum(bet_hold)
    if total_bet > dollar:
        print("Bet is larger than your wallet please try again. ")
        exit

In [30]:
def red_or_black(val):
    red = [1,3,5,7,9,12,14,16,18,19,21,23,25,27,30,32,34,36]
    black = [2,4,6,8,10,11,13,15,17,20,22,24,26,28,29,31,32,33,35]
    counter1 = 0 
    counter2 = 0
    exist1 = red.count(val)
    exist2 = black.count(val)
    if exist1 > 0:
        while val != red[counter1]:
            counter1 = counter1 + 1   
        else:   
            color = 'red'
            return 'color: %s' % color
    elif exist2 > 0:
        while val != black[counter2]:
            counter2 = counter2 + 1
        else:
            color = 'black'
            return 'color: %s' % color

### Initialization

In [31]:
table_df = pd.DataFrame({ 
    "U" :[3,2,1],
    "R" :[6,5,4],
    "L" :[9,8,7],
    "o" :[12,11,10],
    "s" :[15,14,13],
    "i" :[18,17,16],
    "n" :[21,20,19],
    "g" :[24,23,22],
    "H" :[27,26,25],
    "a" :[30,29,28],
    "h" :[33,32,31],
    "A" :[36,35,34],})

table_df.index = [
    '0',
    '',
    '0.0',
]
#table_df.columns = [''] * len(table_df.columns)
color_table = table_df.style.applymap(red_or_black)
green_table = color_table.applymap_index(lambda v: 'color:green;' if v ==0 else "color:green;", axis = 0)
green_table

In [32]:
def main():
    table = {'00':'green',0:'green ',1:'red',2:'black',3:'red',4:'black',5:'red',6:'black',7:'red',
            8:'black',9:'red',10:'black',11:'black',12:'red',13:'black',14:'red',15:'black',16:'red',
            17:'black',18:'red',19:'red',20:'black',21:'red',22:'black',23:'red',24:'black',25:'red',
            26:'black',27:'red',28:'black',29:'black',30:'red',31:'black',32:'red',33:'black',34:'red',
            35:'black',36:'red'} 
            
    print("Welcome to Nick Kay's Casino!")
    print("Today's Special is Roulette! ")
    display(green_table)

    print("Here are the Payout rates as follows: ")
    display(payout_df)


    initial_deposit = int(input("Enter your deposit: "))
    stored_money = initial_deposit

    #########
    end = 0
    while end == 0:
        clear_output(wait=True)
        display(green_table)
        display(payout_df)

        print("Your current Balance is now: {}".format(stored_money))
        user_choice(stored_money)
        stored_money = stored_money - total_bet
        
        print("Your bet was: {}".format(new))
        print("Wheel will now be spinned: ")
    
        for i in tqdm(range(100), desc="The Ball is Rolling...."):
            time.sleep(0.003)

        spinning_roulette()
        print("The number is: %d and the color is: %s"%(number,color))

        test_match()
        payout()
        if gain > 0:
            print("Congratulations you have won! ")
        else:
            print("Try again next time..")
        
        stored_money = stored_money + gain
        print("Your current Balance is now: {}".format(stored_money))

        restart = input("Would you like to continue playing?")
        if restart == "yes" or restart == "y":
            end = 0
        if restart == "n" or restart == "no":
            end = 1

    if end == 1:
        return
   
main()

Welcome to Nick Kay's Casino!
Today's Special is Roulette!

Here are the Payout rates as follows:

        Payout
Red          2
Black        2
Green       18
Number      35

ValueError: invalid literal for int() with base 10: ''